body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

  #bingus{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #aceitacao{
    border: none;
    background-color: transparent;
  }

  #negacao{
    border: none;
    background-color: transparent;
    position: absolute;
    
  }